body{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    margin-top: 100px;
    animation: colorchange 5s infinite alternate;
}
h4{
text-transform: uppercase;
text-align: center;
margin-top: 300px;
}
button{
    margin-left: 300px;
} 
@keyframes colorchange{
0%{
    color: indigo;
}
20%{
    color: blue;
}
40%{
    color: green;
}
60%{
    color: yellow;
}
80%{
    color: orange;
}
100%{
    color: red;
}
}